# Ignore everything
Library
Library/*
obj
obj/*
Packages
Packages/*
.vs
Logs
Logs/*
Temp
Temp/*
*.csproj
*.sln
*.DS_Store
.vscode
*.sublime-project
*.sublime-workspace
.gradle/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
ExportedObj/
.consulo/
/[Mm]emoryCaptures/
/[Bb]uild/
/[Bb]uilds/
